@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body{
    background-color: #f2f2f2;
}        

.ultra-no-zindex {
    z-index: -100;
}
.change-2-yellow-on-hover:hover{
    background: #ffb20f;
    color: black;
}
.bg-wb-yellow {
    background: #ffb20f;
}
.wb-yellow {
    color: #540d6e;
}
.bg-wb-blue {
    background: #55d6be;
}
.bg-wb-blue-dark {
    background: #540d6e;
}
.bg-wb-blue-green {
    background: #71f79f;
}
.bg-wb-grey-1 {
    background: #0d0d0d;
}
.bg-wb-grey-2 {
    background: #404040;
}
.wb-grey-2 {
    color: #404040;
}
.bg-wb-grey-3 {
    background: #a6a6a6;
}
.wb-grey-3 {
    color: #a6a6a6;
}
.bg-wb-grey-4 {
    background: #f2f2f2;
}

.left--110px {
    left: 110px;
}
